* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FFFFFF;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 7px;
  border-radius: 50px;
  background-clip: padding-box;

}

*::-webkit-scrollbar-thumb {
  background-color: #FF014F;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  background-color: #212428;
  overflow-x: hidden;

}

html,
body {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}


/* root section */
:root {
  --primary-color: #FF014F;
  --secondary-color: #FFFFFF;
  --dark-color: #212428;
  --text-color: #C4CFDE;
  --text-color-2: #878e99;
  --background-color-1: linear-gradient(145deg, #1e2024, #23272b);
  --background-color-2: linear-gradient(to right bottom, #212428, #16181c);
  --box-shadow-1: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  --transition-color: color 0.5s ease;
  --transition-background: background 0.5s ease;
}

/* Re-used Css */
.custom-btn {
  display: inline-block;
  padding: 1.5rem 2rem;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 600;
  color: var(--text-color);
  text-transform: uppercase;
  border-radius: 6px;
  box-shadow: var(--box-shadow-1);
  transition: var(--transition-color);
}

.custom-btn:hover {
  color: var(--primary-color);
}

.custom-btn-2 {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 600;
  background: var(--background-color-2);
  text-transform: uppercase;
  border-radius: 6px;
  box-shadow: var(--box-shadow-1);
  transition: var(--transition-color);
}

.social-links {
  padding-top: 1.5rem;
  display: flex;
  gap: 1rem;
}


.social-links .link {
  padding: 0.75rem 1rem;
  font-size: 2rem;
  color: var(--text-color);
  text-transform: uppercase;
  border-radius: 6px;
  background: var(--background-color-1);
  box-shadow: var(--box-shadow-1);
  transition: var(--transition-color);
}

.social-links .link:hover {
  color: var(--primary-color);
}

.sub-title {
  color: var(--primary-color);
}

.title {
  color: var(--text-color);
  font-size: 4rem;
}

.inner-contain {
  border-radius: 8px !important;
}

.card {
  border: none;
  padding-bottom: 0;
}

.card-body {
  padding: 0;
}

.card img {
  opacity: 0.75;
  transition: opacity 0.3s ease;
}

.card h5 {
  font-size: 1.5rem;
  color: var(--text-color);
  text-transform: uppercase;
  padding-top: 1rem;
  transition: var(--transition-color);
}

.card p {
  transition: var(--transition-color);
}

.card:hover h5 {
  color: var(--secondary-color);
}

.card:hover p {
  color: var(--text-color);
}

.card:hover img {
  opacity: 0.9;
}


/* Custom Css */
.navbar {
  background: var(--background-color-1);
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: var(--box-shadow-1);
  transition: background-color 0.3s;
}

.brand {
  width: 90px;
}

.brand-menu {
  width: 90px;
}

.navbar .nav-link {
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1rem;
  transition: var(--transition-color);
}

.navbar .nav-link.active {
  color: var(--secondary-color);
}

.navbar .nav-link:hover {
  color: var(--primary-color);
}





/* Hero Section */
#hero {
  padding: 18rem 0 12rem;
}

#hero h6 {
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 1.125rem;
  color: var(--text-color);
}

#hero h1 {
  font-size: 3.5rem;
  font-weight: 600;
}

#hero span {
  color: var(--primary-color);
}

#hero .auto-type {
  color: #fff;
  transition: all 0.2s ease;
}

#hero .desc {
  color: var(--text-color);
  font-size: 1.25rem;
  text-transform: capitalize;
}

#hero .box {
  width: 80%;
  aspect-ratio: 1/1;
  background-color: #fff;
  border: 3px solid var(--primary-color);
  border-radius: 50%;
  overflow: hidden;
  box-shadow: var(--box-shadow-1);
}

#hero .box img {
  width: 100%;
  object-fit: cover;
}


/* About section */
#my-tab-nav {
  background: var(--background-color-1);
  box-shadow: var(--box-shadow-1);
  border: none;
  cursor: pointer;
}

#about .nav-link {
  background: transparent;
  border: none;
  padding: 1.5rem 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--text-color);

}

#about .nav-link.active,
#about .nav-link:hover {
  background: var(--background-color-1);
  box-shadow: var(--box-shadow-1);
  color: var(--primary-color);
}

.inner-contain {
  padding: 2rem 2.5rem;
  background: var(--background-color-1);
  box-shadow: var(--box-shadow-1);

}

.inner-contain h4 {
  color: var(--text-color);
  font-size: 1.75rem;
  transition: var(--transition-color);

}

.inner-contain h6,
p {
  color: var(--text-color-2);
  transition: var(--transition-color);
}

.inner-contain:hover h4,
.inner-contain:hover h6 {
  color: var(--secondary-color);
}


.inner-contain h6 {
  font-size: 1rem;
  padding: 1rem 0 1.5rem;
}

.inner-contain p {
  font-size: 1.25rem;
}

.inner-contain a {
  color: var(--primary-color);
}


/* services section */
#services {
  padding-top: 6rem;
}

#services h2 {
  color: var(--title-color);
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
}

#service .service-contain {
  padding-top: 3rem;
}

#service .inner-contain {
  padding: 1rem;
  border-radius: 10px;
  transition: all ease-in 0.3s;
  color: var(--text-color);
  cursor: pointer;
  position: relative;
  min-height: 300px;
}

#service .inner-contain::before {
  content: "";
  position: absolute;
  transition: 0.3s;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  top: 0;
  left: 0;
  background: linear-gradient(to right bottom, #212428, #16181c);
  opacity: 0;
  z-index: -1;
}

#service .inner-contain::before {
  opacity: 1;
}

#service .inner-contain i {
  color: var(--text-color);
  font-size: 3rem;
  padding-left: 1rem;
  transition: var(--transition-color);
}

#service .inner-contain h5 {
  font-size: 1.75rem;
  font-weight: 500;
  padding: 0.75rem 0 1rem 1rem;
  transition: var(--transition-color);
}

#service .inner-contain p {
  padding-left: 1rem;
}

#service .inner-contain:hover {
  transform: translateY(-5px);
}

#service .inner-contain:hover h5 {
  color: var(--secondary-color);
}

#service .inner-contain:hover i {
  color: var(--primary-color);
}

/* Project section */

#project .card a {
  color: var(--text-color);
  transition: var(--transition-color);
}

#project .card a:hover {
  color: var(--primary-color);
}


/* my skills section */
#skill .nav-link {
  background: transparent;
  border: none;
  padding: 1.5rem 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--text-color);

}

#skill .nav-link.active,
#skill .nav-link:hover {
  background: var(--background-color-1);
  box-shadow: var(--box-shadow-1);
  color: var(--primary-color);
}

#skill .tab-content-heading .inner-contain {
  min-height: 350px;
  cursor: pointer;
}

.skill-img {
  width: 60px;
  filter: grayscale(1);
  transition: filter 0.3s ease;
  padding-bottom: 2rem;
}

.skill-img-3 {
  width: 55px;
}

.skill-img-4 {
  width: 70px;
}

.skill-img-figma {
  width: 40px;
}

.inner-contain:hover .skill-img {
  filter: grayscale(0);
}



/* contact section */


.contact-contain {
  padding-top: 3rem;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.contact-form form input,
textarea {
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 8px;
  outline: none;
}

.contact-form form textarea {
  height: 150px;
  resize: none;
}

#contact .custom-btn {
  background-color: transparent;
  background: linear-gradient(to right bottom, #212428, #16181c);
  border: none;
  box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
}

#contact input,
textarea {
  background-color: #191b1e;
  border-radius: 6px;
  height: 60px;
  transition: 0.4s;
  border: 2px solid #191b1e;
  padding: 1rem;
  font-size: 1.125rem;
  color: var(--text-color);
  box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
  letter-spacing: 1px;
}

#contact input:focus,
textarea:focus {
  border-color: var(--primary-color);
}

#contact .information .inner-contain h3 {
  font-size: 2.5rem;
  color: var(--text-color);
}

#contact .information .inner-contain .prof {
  font-size: 1.25rem;
  color: var(--text-color);
}

#contact .information .inner-contain p,
.connect {
  color: var(--text-color-2);
}

#contact .information .inner-contain .phn {
  color: var(--text-color);
  font-size: 1.125rem;
}

#contact .information .inner-contain .phn>a {
  color: var(--text-color);
  letter-spacing: 1px;
  padding-left: 0.5rem;
  transition: var(--transition-color);
}

#contact .information .inner-contain .phn>a:hover {
  color: var(--primary-color);
}



/* Footer section */
#footer a {
  color: var(--primary-color);
} 
/* Media wuery sectioon */
@media only screen and (max-width: 1399px) {
  #hero {
    padding: 14rem 0 10rem;
  }

  /* About section */
  #aboout .inner-contain {
    min-height: 300px;

  }

  /* Project section */
  #project .card {
    min-height: 450px;
  }

}

@media only screen and (max-width: 1199px) {
  .title {
    font-size: 3.5rem;
  }

  #hero {
    padding: 14rem 0 8rem;
  }

  #hero h1 {
    font-size: 2.85rem;
  }

  /* About section */
  #aboout .inner-contain {
    min-height: 300px;

  }

  /* Project section */
  #project .card {
    min-height: 450px;
  }

  /* Skills section */
  #skill .inner-contain p {
    font-size: 1.2rem;
  }

  #skill .tab-content-heading .inner-contain {
    min-height: 300px;
  }

  /* Contact section */
  #contact .information .inner-contain {
    min-height: 450px;
  }

  #contact .information .inner-contain p,
  .connect {
    font-size: 1.125rem;
  }

  #contact .information .inner-contain .phn {
    font-size: 1rem;
  }

}







@media only screen and (max-width: 992px) {
  .navbar .navbar-nav {
    margin-top: 1.5rem;
  }

  #aboout .nav-link,
  #skill .nav-link {
    font-size: 1.25rem;

  }

  /* Hero section */
  #hero {
    padding: 8rem 0 5rem;
  }

  #hero .row {
    flex-direction: column-reverse;
  }

  #hero h1 {
    font-size: 3.25rem;
  }

  #hero .row .col-lg-5 .box {
    width: 40%;
    margin-bottom: 3rem;
  }

  /* Skills section */
  #skill .tab-content-heading .inner-contain {
    min-height: 320px;
  }

  #skill .inner-contain p {
    font-size: 1.125rem;
  }

}

@media only screen and (max-width: 767px) {
  #hero h1 {
    font-size: 2.75rem;
  }
}

@media only screen and (max-width: 575px) {
  #hero h1 {
    font-size: 2.25rem;
  }

  #hero .desc {
    font-size: 1.125rem;
  }

  #hero h6 {
    letter-spacing: 2px;
    font-size: 1rem;
  }

  .title {
    font-size: 3rem;
  }

  #about .nav-link,
  #skill .nav-link {
    font-size: 1.125rem;

  }
}
@media only screen and (max-width: 463px) {
  #contact .information .inner-contain .phn {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 435px) {
  #hero h6 {
    letter-spacing: 1px;
    font-size: 0.85rem;
  }

  #hero h1 {
    font-size: 2.050rem;
  }

  #hero .desc {
    font-size: 1rem;
  }

}

@media only screen and (max-width: 395px) {

  #aboout .nav-link,
  #skill .nav-link {
    font-size: 1rem;

  }

  #hero h1 {
    font-size: 1.75rem;
  }

  #hero .desc {
    font-size: 0.85rem;
  }

  #contact .information .inner-contain h3 {
    font-size: 2rem;
  }

  #contact .information .inner-contain .phn {
    font-size: 0.7rem;
  }
}